@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --cor: black ;
    --cor1: white ;
    --font01: 'Passion One', arial;
    --font02: 'Sriracha', cursive;
}

body {
    background-color: white;
}


header {

    background-color: var(--cor);
    background-size: cover;
    font-family: var(--font01);
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 1px;
    

}


header > p > a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}

header > p > a:hover {
    text-decoration: underline;
    color: lightgray;
    
}

main {
    min-width: 300px;
    max-width: 1000px;
}

.branco {
    background-color: white;
    font-family: var(--font02);
    width: ;
}


.image {
    background: white url(imagens/background001.jpg) top left no-repeat fixed;
    background-size: cover;
    
}

.image2{
    background: white url(imagens/background002.jpg) top left no-repeat fixed;
    background-size: cover;
}
.com {
   
    font-family: var(--font02);
    width: 192px;
    height: 209px;
    border: 1px solid black;
    padding: 7px;
    margin: 1px;
    color: white;

}


.com2 {
    font-family: var(--font02);
    width: 192px;
    height: 209px;
    border: 1px solid black;
    padding: 7px;
    margin: 1px;
    color: black;

}




footer{
    background-color: #000000;
    font-family: var(--font01);
    text-align: center;
    padding: 1px;
    color: white;
    font-size: 20px;
}

.footer {
    font-weight: bold;
    font-family: var(--font01);
    text-decoration: none;
    color: white;
}


.footer:hover {
    text-decoration: underline;
}